/* start variables */
:root {
	--main-color: #19c8fa;
	--scound-color: #0f738f8e;
	--color-p: rgb(179, 179, 179);
	--section-padding: 100px;
	--color-overlay: rgba(0, 0, 255, 0.281);
}
/* end variables */
/* start global rules */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: "open sans", sans-serif;
}
ul {
	list-style: none;
}
.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
/* small */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
/* medium */
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
/* large  */
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
/* end global rules */
/* start components */
.main-heading {
	text-align: center;
}
.main-heading h2 {
	font-weight: normal;
	font-size: 40px;
	position: relative;
	margin-bottom: 70px;
	text-transform: uppercase;
}
.main-heading h2::before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	background-color: black;
	bottom: -30px;
	width: 120px;
	height: 2px;
}
.main-heading h2::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 14px;
	height: 14px;
	border-radius: 50%;
	border: 2px solid black;
	bottom: -38px;
	background-color: white;
}
.main-heading p {
	width: 550px;
	margin: 0 auto 100px;
	line-height: 2;
	max-width: 100%;
	color: var(--color-p);
}
/* @media (min-width: 359px) {
	.main-heading p {
		width: 300px;
	}
} */
/* end components */
/* start header */
header {
	position: fixed;
	left: 0;
	width: 100%;
	z-index: 3;
	background-color: #0f738f;
}
header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	min-height: 40px;
}
header .container::after {
	content: '';
	position: absolute;
	height: 1px;
	background-color: #a2a2a2;
	bottom: 0;
	width: calc(100% - 30px);
	left: 15px;
}
header .logo img {
	height: 40px;
}
header nav {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
header nav .toggle-menu {
	color: white;
	font-size: 22px;
}
@media (min-width: 768px) {
	header nav .toggle-menu {
		display: none;
	}
}
header nav ul {
	display: flex;
}
@media (max-width: 767px) {
	header nav ul {
		display: none;
		background: #00050aa6;
	}
	header nav .toggle-menu:hover + ul {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background-color: #00050aa6;
	}
	header nav ul li a {
		padding: 15px !important;
	}
}
header nav ul li a {
	padding: 10px 10px;
	display: block;
	color: white;
	text-decoration: none;
	font-size: 14px;
	transition: 0.3s;
	position: relative;
	z-index: 1;
}
header nav ul li a.active,
header nav ul li a:hover {
	color: var(--main-color);
	border-bottom: 1px solid var(--main-color);
	background-color: rgba(126, 7, 7, 0.329);
}
header .form {
	width: 40px;
	height: 30px;
	position: relative;
	margin-left: 30px;
	border-left: 1px solid white;
}
header nav .form i {
	color: white;
	position: absolute;
	font-size: 20px;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
}
/* end header */
/* start landing */
.landing {
	min-height: 100vh;
	background-color: sandybrown;
	background-image: url(../images/istockphoto-687245076-612x612.jpg);
	background-size: cover;
	position: relative;
	z-index: 0;
}
.landing .overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: var(--color-overlay);
	z-index: 0;
}
.landing .text {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 50%;
	padding: 50px;
	background-color: var(--scound-color);
	color: snow;
	display: flex;
	justify-content: flex-end;
}

.landing .text .content {
	max-width: 500px;
}
@media (max-width: 767px) {
	.landing .text {
		width: 100%;
	}
	.landing .text .content {
		max-width: 100%;
		margin-top: 30px;
	}
}
.landing .text .content h2 {
	font-size: 32px;
	font-weight: normal;
	line-height: 1.5;
	margin-bottom: 20px;
}
.landing .text .content p {
	font-size: 14px;
	line-height: 2;
}
.landing .change-background {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: snow;
}
@media (max-width: 767px) {
	.landing .change-background {
		display: none;
	}
}
.landing .fa-angle-left {
	left: 30px;
}
.landing .fa-angle-right {
	right: 30px;
}
.landing .bullets {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 30px;
	display: flex;
}
.landing .bullets li {
	width: 20px;
	height: 20px;
	border: 1px solid white;
	border-radius: 50%;
	justify-content: space-between;
	margin-right: 10px;
}
.landing .bullets li.active {
	background-color: var(--main-color);
	border-color: var(--main-color);
}
/* end landing */
/* start services */
.services {
	padding-top: var(--section-padding);
	padding-bottom: var(--section-padding);
}
@media (MIN-width: 768px) {
	.services .services-container {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
		grid-column-gap: 40px;
		grid-row-gap: 60px;
	}
}
.services .srv-box {
	display: flex;
}
.services .srv-box:hover h3 + p {
	background-color: var(--main-color);
	color: white;
}
/* .services .srv-box:hover p + h3 {
	background-color: var(--main-color);
	color: white;
} */
.services .srv-box i {
	margin-right: 50px;
}
@media (max-width: 767px) {
	.services .srv-box {
		display: flex;
		flex-direction: column;
		text-align: center;
		margin-bottom: 40px;
	}
	.services .srv-box i {
		margin: 0 0 30px;
	}
}
.services .srv-box h3 {
	margin-bottom: 30px;
	color: var(--main-color);
	transition: 00.3s;
}
/* .services .srv-box h3:hover {
	background-color: var(--main-color);
	color: white;
} */
.services .srv-box p {
	line-height: 2;
	color: var(--color-p);
	transition: 00.3s;
}
/* .services .srv-box p:hover {
	background-color: var(--main-color);
	color: white;
} */
/* end services */
/* start design */
.design {
	padding-top: var(--section-padding);
	padding-bottom: var(--section-padding);
	height: 600px;
	position: relative;
	background-image: url("../images/design1.jpg");
	background-size: cover;
	display: flex;
	align-items: center;
	overflow: hidden;
}
.design::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: var(--color-overlay);
}
.design .image,
.design .text {
	position: relative;
	z-index: 2;
	flex: 1;
}
.design .image {
	text-align: center;
}
@media (max-width: 767px) {
	.design .image {
		display: none;
	}
}
.design .image img {
	position: relative;
	bottom: -150px;
}
.design .text {
	color: white;
	padding: 50px;
	background-color: var(--scound-color);
}
.design .text h2 {
	font-size: 32px;
	font-weight: normal;
	line-height: 1.5;
	margin-bottom: 20px;
}
.design .text ul li {
	padding: 15px 0;
}
.design .text ul li::before {
	font-family: 'font awesome 5 free';
	content: '\f108';
	font-weight: 900;
	margin-right: 20px;
	position: relative;
	top: 1px;
}
/* end design */
/* start portfolio */
.portfolio {
	padding-top: var(--section-padding);
	padding-bottom: var(--section-padding);
}
.portfolio .shuffle {
	display: flex;
	justify-content: center;
}
.portfolio .shuffle li {
	padding: 10px;
	transition: 00.3s;
}
.portfolio .shuffle li:hover {
	background-color: var(--main-color);
	color: white;
}
.portfolio .shuffle li.active {
	color: white;
	background-color: var(--main-color);
}
.portfolio .imgs-container {
	display: flex;
	flex-wrap: wrap;
	margin-top: 60px;
}
.portfolio .imgs-container .box {
	position: relative;
	overflow: hidden;
}
.portfolio .imgs-container .box:hover .caption {
	bottom: 0;
}
.portfolio .imgs-container .box:hover img {
	transform: rotate(3deg) scale(1.1);
}
@media (min-width: 768px) {
	.portfolio .imgs-container .box {
		flex-basis: 50%;
	}
}
@media (min-width: 1199px) {
	.portfolio .imgs-container .box {
		flex-basis: 25%;
	}
}
.portfolio .imgs-container .box img {
	max-width: 100%;
	transition: 00.3s;
}
.portfolio .imgs-container .box .caption {
	position: absolute;
	left: 0;
	padding: 20px;
	background-color: white;
	width: 100%;
	transition: 0.3s;
	bottom: -100%;
}
.portfolio .imgs-container .box .caption h4 {
	font-weight: normal;
	margin-bottom: 10px;
}
.portfolio .imgs-container .box .caption p {
	color: var(--main-color);
}
.more {
	background-color: var(--main-color);
	color: white;
	padding: 15px 20px;
	display: block;
	width: fit-content;
	margin: 30px auto;
	text-decoration: none;
	text-transform: uppercase;
}
/* end portfolio */
/* Start Video */
.video {
	position: relative;
}
.video::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: var(--color-overlay);
}
.video video {
	max-width: 100%;
}
.video .text {
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding: 50px;
	background-color: var(--scound-color);
	color: white;
	text-align: center;
}
.video .text h2 {
	margin: 0 0 30px;
	text-transform: uppercase;
	font-weight: normal;
}
.video .text p {
	margin-bottom: 30px;
}
.video .text button {
	background-color: black;
	color: white;
	padding: 10px 20px;
	border: none;
	text-transform: uppercase;
}
/* End Video */
/* Start About */
.About {
	padding-top: var(--section-padding);
	overflow: hidden;
	text-align: center;
}
.About img {
	position: relative;
	bottom: -120px;
	margin-top: -120px;
	max-width: 100%;
}
@media (max-width: 767px) {
	.About img {
		bottom: -60px;
		margin-top: -60px;
	}
}
/* End About */
/* Start Stats */
.stats {
	padding-top: var(--section-padding);
	padding-bottom: var(--section-padding);
	background-image: url(../images/design.jpg);
	text-align: center;
	background-size: cover;
	position: relative;
}
.stats::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: var(--color-overlay);
}
.stats .container {
	position: relative;
	display: flex;
	flex-wrap: wrap;
}
.stats .container .box {
	color: white;
	padding: 50px;
	background-color: var(--scound-color);
}
@media (max-width: 767px) {
	.stats .container .box {
		flex-basis: 100%;
	}
}
@media (min-width: 768px) {
	.stats .container .box {
		flex-basis: 50%;
	}
}
@media (min-width: 992px) {
	.stats .container .box {
		flex-basis: 25%;
	}
}
.stats .container .box i {
	width: 40px;
	height: 40px;
	display: flex;
	background-color: black;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	margin: 0 auto 30px;
}
.stats .container .box .number {
	font-size: 50px;
	font-weight: bold;
	margin: 0 0 20px;
}
.stats .container .box p {
	font-size: 14px;
}
/* End Stats */
/* Start Siklls */
.skills {
	padding-top: var(--section-padding);
	padding-bottom: var(--section-padding);
}
.skills .container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
@media (min-width: 992px) {
	.skills .container > div {
		flex-basis: 45%;
	}
}
.skills .container > div > h2 {
	margin-bottom: 30px;
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
}
.skills .container > div > p {
	color: var(--color-p);
	line-height: 1.8;
	margin-bottom: 60px;
	text-align: center;
}
.skills .container .content {
	display: flex;
	align-items: center;
	justify-content: center;
}
.skills .container .content .text {
	border-bottom: 1px solid #777;
}
.skills .container .content img {
	width: 60px;
	margin: 10px 20px 0;
}
@media (max-width: 767px) {
	.skills .container .content {
	}
	.skills .container .content img {
		width: 60px;
	}
}
.skills .container .content .text {
	text-align: center;
	position: relative;
	line-height: 1.8;
	padding-bottom: 50px;
	z-index: 2;
}
/* .skills .container .content .text:hover {
	display: block;

} */
.skills .container .content .text p {
	/* display: none; */
	position: absolute;
	bottom: 10px;
	margin: 0px -10px 0px;
	right: 10px;
	text-transform: uppercase;
	color: var(--color-p);
	transition: 0.3s;
	z-index: 2;
}
.skills .container .content .text:hover + p {
	transform: rotate(50deg);
}
.skills .testimonials .bullets {
	/* position: absolute; */
	/* left: 50%;
	transform: translateX(-50%);
	bottom: 30px; */
	display: flex;
	justify-content: center;
	margin-top: 50px;
	margin-bottom: 50px;
}
.skills .testimonials .bullets li {
	width: 20px;
	height: 20px;
	border: 1px solid var(--main-color);
	border-radius: 50%;
	/* justify-content: space-between; */
	margin-right: 10px;
	/* z-index: 3; */
	/* color: var(--main-color); */
}
.skills .testimonials .bullets li.active {
	background-color: var(--main-color);
	border-color: var(--main-color);
}
.skills .testimonials .bullets li:hover {
	background-color: var(--main-color);
}
.skills .testimonials .bullets li:hover + .active {
	background-color: white;
}
.our-siklls > div {
	margin-bottom: 40px;
	/* background-color: var(--main-color); */
	/* overflow: hidden; */
}
.our-siklls > div > h4 {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.prog-holder > div {
	/* overflow: hidden; */
	background-color: var(--scound-color);
	height: 30px;
}
.prog > span {
	display: block;
	background-color: var(--main-color);
	/* z-index: 1; */
	height: 100%;
	position: relative;
	/* transform: translateY(-18px) translateX(0); */
	/* right: 0; */
	/* max-width: 100%; */
	/* align-items: flex-end; */
}
.prog > span::before {
	content: attr(data-progres);
	position: absolute;
	/* background-color: var(--main-color); */
	color: rgb(0, 0, 0);
	transform: translateY(-35px);
	right: -24px;
	width: 35px;
	padding: 4px 0;
	text-align: center;
	border-radius: 5px;
}
.prog > span::after {
	content: "";
	border-style: solid;
	border-width: 8px;
	border-color: rgb(21, 103, 136) transparent transparent transparent;
	position: absolute;
	right: -7px;
	top: -10px;
}
/* End Siklls */

/*  start Quote  */
.quote {
	padding-top: var(--section-padding);
	padding-bottom: var(--section-padding);
	background-image: url(../images/IMG-20191208-WA0017.jpg);
	background-size: cover;
	position: relative;
	text-align: center;
	color: white;
}
.quote::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: var(--color-overlay);
}
.quote .container {
	position: relative;
}
.quote .container q {
	font-size: 30px;
	line-height: 1.8;
	margin-bottom: 20px;
	text-align: center;
	display: block;
	border-bottom-style: double;
	/* border-top-style: double; */
}
.quote .container q::before {
	content: "\f10d";
	font-family: 'font awesome 5 free';
	font-weight: 900;
	margin-right: 7px;
	position: relative;
	top: -1px;
}
.quote .container q::after {
	content: "\f10e";
	font-family: 'font awesome 5 free';
	font-weight: 900;
	margin-right: 20px;
	position: relative;
	top: 7px;
}
/*  End Quote  */
/* Start Price */
.price {
	padding-top: var(--section-padding);
	padding-bottom: var(--section-padding);
}
.price .plans {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 30px;
	align-items: center;
}
.price .plans .plan {
	background-color: #fffdfd;
	text-align: center;
}
.price .plans .plan .head {
	padding: 40px 20px;
	border-top: 1px solid var(--main-color);
	border-bottom: 1px solid var(--main-color);
}
.price .plans .plan .head h3 {
	font-weight: normal;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.price .plans .plan .head span {
	font-size: 60px;
	font-weight: bold;
	position: relative;
}
.price .plans .plan .head span::before {
	content: "$";
	font-size: 25px;
	top: -40px;
	margin-right: 15px;
	font-weight: normal;
	position: relative;
}
.price .plans .plan .head span::after {
	content: "/mo";
	font-size: 25px;
	margin-left: 15px;
	font-weight: normal;
	position: relative;
}
/* End Price */
